@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}

html{ 
    font-size: 12px;
    --ff: "Poppins",sans-serif;
    --db:#132577;

    --db:#132577;

}
body{ font:16px/1.3 var(--ff);}


.container{ max-width: 1260px; margin: auto; padding: 0 1rem;}

.row{ display: grid; grid-template-columns: repeat(12, 1fr); gap: 2rem;}
.col-1{ grid-column: span 1;}
.col-2{ grid-column: span 2;}
.col-3{ grid-column: span 3;}
.col-4{ grid-column: span 4;}
.col-5{ grid-column: span 5;}
.col-6{ grid-column: span 6;}
.col-7{ grid-column: span 7;}
.col-8{ grid-column: span 8;}
.col-9{ grid-column: span 9;}
.col-10{ grid-column: span 10;}
.col-11{ grid-column: span 11;}
.col-12{ grid-column: span 12;}
.flex{ display: flex;}
.just-space-bet{ justify-content: space-between;}
.just-right{ justify-content: right;}
.align-center{ align-items: center;}
.resp{ max-width: 100%; height: auto; }
.text-center{ text-align: center;}


/* layout */

.wrap-1{ background: url(../img/bg1.svg) no-repeat left center/cover var(--db); padding:72px 0 82px; }
header{ margin-bottom: 76px}
.wrap-1 li{ margin: 0 15px; }
.wrap-1 a{ color: #fff; display: block ;font: 600 14px var(--ff); }
.banner{ color: #fff;}
.banner p.lead{ font: 600 28px/1.5 var(--ff);}
.banner p{ line-height: 1.7; margin: 30px 0;}
.banner a{ display: block; width: 185px; line-height: 50px; background: #fff; color: #000; border-radius: 5px; text-align: center; font-weight: 600;}
.banner img{ display: block; margin: auto; }



.wrap-2{ padding: 100px 0;}
.wrap-2 p.lg{ font-weight: bold; font-size: 28px;}


.wrap-3{ background: var(--db); color: #fff; padding: 60px 0; }

h2{ font-weight: 500; font-size: 20px; color: var(--db); }
.wrap-2 p.lg{ margin: 10px 0 40px; opacity: 1;}
.services section{ box-shadow: 0 0 13px #0000001a; border-radius: 5px; padding: 40px 30px 41px; position: relative; height: 100%; }
.services section h3{ font: 600 20px/1.5 var(--ff); }
.services section p{ font-size: 14px; opacity: 0.6; line-height: 21px; margin: 20px 0 30px; }
.services section a{color: inherit; text-decoration: underline; }
.services section.dark{ background: var(--db); color: #fff;}
.services section.first::before{ content: ''; position: absolute; left: 0; right: 0; top: 0; height: 15px; background: var(--db); border-radius: 5px 5px 0 0; }

.company-info{ margin: 100px 0; }
.company-info b{ font-weight: 600; font-size: 24px; }
.company-info p{ font-size: 14px; font-weight: 500; }
.company-info .text-center{ padding: 25px 0; }

.about{ margin: 100px 0;}
.about p{font-size: 14px; opacity: 0.6; line-height: 21px; margin: 20px 0 30px;}
.list{ list-style: disc inside; display: grid; grid-template-columns: repeat(2, 1fr);}
.list li{ font-size: 14px; font-weight: 500; line-height: 40px; }



/* responsive */
@media screen and (max-width:1280px) {
    .services  section{ padding: 40px 12px 41px; }
}

@media screen and (max-width:980px) {
    .col-t-1{ grid-column: span 1;}
    .col-t-2{ grid-column: span 2;}
    .col-t-3{ grid-column: span 3;}
    .col-t-4{ grid-column: span 4;}
    .col-t-5{ grid-column: span 5;}
    .col-t-6{ grid-column: span 6;}
    .col-t-7{ grid-column: span 7;}
    .col-t-8{ grid-column: span 8;}
    .col-t-9{ grid-column: span 9;}
    .col-t-10{ grid-column: span 10;}
    .col-t-11{ grid-column: span 11;}
    .col-t-12{ grid-column: span 12;} 
     .order-t-before{ order: -1;}
}

@media screen and (max-width:767px) {
    .col-m-1{ grid-column: span 1;}
    .col-m-2{ grid-column: span 2;}
    .col-m-3{ grid-column: span 3;}
    .col-m-4{ grid-column: span 4;}
    .col-m-5{ grid-column: span 5;}
    .col-m-6{ grid-column: span 6;}
    .col-m-7{ grid-column: span 7;}
    .col-m-8{ grid-column: span 8;}
    .col-m-9{ grid-column: span 9;}
    .col-m-10{ grid-column: span 10;}
    .col-m-11{ grid-column: span 11;}
    .col-m-12{ grid-column: span 12;}
    nav{ display: none;}
    nav{ display: none;}
}

@media screen and (max-width:460px) {
    .col-p-1{ grid-column: span 1;}
    .col-p-2{ grid-column: span 2;}
    .col-p-3{ grid-column: span 3;}
    .col-p-4{ grid-column: span 4;}
    .col-p-5{ grid-column: span 5;}
    .col-p-6{ grid-column: span 6;}
    .col-p-7{ grid-column: span 7;}
    .col-p-8{ grid-column: span 8;}
    .col-p-9{ grid-column: span 9;}
    .col-p-10{ grid-column: span 10;}
    .col-p-11{ grid-column: span 11;}
    .col-p-12{ grid-column: span 12;}
    .order-p-before{ order: -1;}
    .order-p-before{ order: -1;}
}